body {
    background-color: rgb(236, 241, 245);
    font-family: Arial, sans-serif;
}
.home {
    margin: 20px;
    margin-top: 10px;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    display: inline-block;
    text-decoration: none;
}
.home:hover {
    color:black;
    background-color: rgb(198, 221, 234);
}
h1 {
    width: 400px;
    text-align: center;
    border: 2px solid black;
    border-radius: 20px;
    background-color: rgb(198, 221, 234);
    margin: auto;
    padding: 10px;
}

.imagen {
    display: flex;
    justify-content: center;
    margin-top: 30px; 
}
img {
    width: 400px;
    height: auto;
}
h2 {
    text-align: center;
    margin-top: 50px;
}
p {
    width: 600px;
    margin: auto;
    text-align:center; }